.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 700px;
    transform: translate(-50%, -50%); /* move the element back by half its width and height */
    background-color: var(--primary-color);
  }
  