.word {
  font-size: large;
}

.wordContainer {
  margin: 0 5px 0 5px;
  box-sizing: border-box;
}

.error {
  border-bottom: 1px solid red;
}

.caret {
  position: absolute;
  width: 2px;
  margin-top: 3px;
  background-color: magenta;
  animation: blink-caret 1.0s infinite;
  height: 20px;
}

@keyframes blink-caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
